body {
	font-family: 'Montserrat' , sans-serif;
}

header {
	background: #0660bd;
}

.caixa {
	position: absolute;
	width: 50%;
	margin: 50px 5%;
	display: inline-block;
}

nav li {
	display: inline-block;
}

.titulo-cabecalho {
	color: #fff;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	padding: 10px 10px;
	display: inline-block;
	text-align: left;
}

.opcoes-cabecalho {
	padding: 10px 20px;
}

.texto-cabecalho {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	border: 1px solid transparent;
	padding-right: 60px;
	
}

.texto-cabecalho:hover {
	color:#000000;
	border: 1px solid #000;
	border-radius: 5px;
}

.titulo-rafting {
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	display: inline;
	text-align: center;
}

.slide-container {
	width: 1280px;
	height: 853px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-align: center;
}

.image-container {
	width: 3840px;
	height: 853px;
	position: relative;
	transition: left 2s;
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	-o-transition:left 2s;
}

.slider-image {
	float: left;
	margin: 0px;
	padding: 0px;
}

.button-container {
	top: -840px;
	position: relative;
}

.slider-button {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	background-color: yellow;
}

#slider-image-1:target ~.image-container{
	left:0px;}

#slider-image-2:target ~.image-container{
	left:-1280px;}

#slider-image-3:target ~.image-container{
	left:-2560px;}

form {
	margin: 40px 20px;
}

form label {
	display: block;
	padding: 20px 0 10px;
}

.input-padrao {
	width: 30%;
	padding: 10px;
}

form legend  {
	display: block;
	padding: 20px 0 0 5px;
	background-color: #ffff99;
}

.radio-contato {
	background-color: #ffff11;
	margin: 0 0 0 5px;
}

.horario {
	margin: 20px 0 0 5px;
}

.select {
	background-color: #FFFF99;
	padding: 2px 5px;
	border-radius: 5px;
}
.manha, .tarde, .noite, .total {
	background-color: #FFFF99;
	padding: 10px;
}

.checkbox {
	margin-bottom: 10px;
}

.enviar {
	width: 30%;
	background-color: #1E90FF;
	color: white;
	padding: 20px;
	font-weight: bold;
	font-size: 20px;
}


